@charset "UTF-8";

     body {
            background-color: rgb(63, 63, 66);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
        
        }
        h1 {
            color: rgb(227, 32, 227);
            background-color: rgb(34, 33, 33);
        }
        h2 {
            color: orange;
        }

        p {
            text-align: justify;
            color: white;
        }
        a {
            color: purple;
            background-color: black;
        }